{% extends 'base.html.twig' %}

{% block title %}New Calendar
{% endblock %}

{% block body %}
	<div id="layoutSidenav_content" class="justify-content-center bg-light">
		<main>
			{% for message in app.flashes('error') %}
				<div class="alert alert-danger" role="alert">
					{{ message }}
				</div>
			{% endfor %}
			<div class="container-fluid px-4">
				<div class="row justify-content-center">
					<div class="col-xl-8">
						<div class="card mb-4">
							<div class="card-header bg-primary">
								<h3 class="text-center text-white font-weight-light my-4">Création d'un rendez vous</h3>
							</div>


							<div class="card-body">

								{{ include('calendar/_form.html.twig') }}

								<a href="{{ path('calendar_index') }}">back to list</a>
							</div>
						</div>

					</div>
				</div>

			</div>
		</main>
	</div>
{% endblock %}
